{% extends "admin/base.html" %}

{% load gaz_uz %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block footer %}
    <script>
        const el = document.createElement('a')
        const active = {{ request | active_users }}
        el.text = active ? '🟢' : '🔴'
        el.style.borderBottom = 'None'
        el.title = 'Active'
        el.href = '/active_users/'
        document.getElementById('user-tools').prepend(el)
    </script>
{% endblock %}
